<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar jogo | Gamekeep</title>
    <link rel="stylesheet" href="/static/css/addgame.css">
</head>
<body>
    <div class="box">
        <form action="/savegame" method="POST">
            <fieldset>
                <legend><b>Adicionar jogo</b></legend>
                <br>
                <div class="inputBox">
                    <tr>
                        <td for="nome" class="labelInput">Digite o nome do Jogo</td>
                        <td><input type="text" name="nome" id="nome" class="inputUser" required></td>
                    </tr>
                </div>
                <br>
                <div>
                    <tr><td><p>Selecione o genero do jogo</p></td></tr>
                    <tr><td><select name = "genero" id="genero">
                        <option selected disabled value="">Selecione...</option>
                        <option>Plataforma</option>
                        <option>Shooter</option>
                        <option>Luta</option>
                        <option>Beat-em up</option>
                        <option>Sobrevivência</option>
                        <option>Rítmico</option>
                        <option>Horror</option>
                        <option>Metroidvania</option>
                        <option>RPG</option>
                        <option>MMORPG</option>
                        <option>Aventura</option>
                    </select></td></tr>
                </div>
                <br>
                <tr><td><b>Data de aquisição do jogo</b></td></tr>
                <tr><td><input type="date" name="datainicio" id="datainicio" required></td></tr> 
                <br><br>
                <tr><td><input type="submit" name="submit" id="submit"></td></tr>
            </fieldset>
        </form>
    </div>
</body>
</html>