<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamekeep - Biblioteca</title>
    <link rel="stylesheet" href="/static/css/gameslibrary.css">
</head>
<body>
    <h3>Seus jogos</h3>
    <table border=5>  
    <thead>
        <td>Nome do jogo</td>
        <td>Genero do jogo</td>
        <td>Data na Biblioteca</td>
    </thead>
    {% for row in rows %}
    <tr>
    <td>{{row["nome"]}}</td>
    <td>{{row["genero"]}}</td>
    <td>{{row["datainicio"]}}</td>
    </tr>
    {% endfor %}
    </table>
    <br><br>
    <a href="/"><button>Volte para o menu principal</button></a>
    <br><br>
    <a href="/addgame"><button>Adicione outro jogo</button></a>
    <a href="/deletegame"><button>Remover jogo</button></a>
</body>
</html> 
<!--algumas estatisticas como jogo mais antigo e curiosidas-->