<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamekeep | Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="shortcut icon" href="/static/images/gamekeep_logo.ico" type="image/ico">
</head>
<body>
    <div class="login">
        <form action="/login" method="POST">
            <h1>Faça seu login abaixo 🚀</h1>
            <input type="text" name="username" placeholder="username">
            <br><br>
            <input type="password" name="password" placeholder="password">
            <br><br>
            <input type="submit" name="Login" id="login" value="Login">
        </form>
    </div>
</body>
</html>