<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamekeep - Gerencie os jogos da sua biblioteca</title>
    <link rel="shortcut icon" href="/static/images/gamekeep_logo.ico" type="image/ico">
</head>
<body>
    <div class="box">
        <h1>Bem Vindo!!</h1>
        <h2>Escolha uma opção</h2>
        <a href ="/signup"><button>Criar uma conta</button></a><br><br>
        <a href="/login"><button>Faça seu login</button></a><br><br>
        <br><br>
    </div>
</body>
</html>